<!DOCTYPE html>

<head>
    <link rel="icon" href="images/weather.png">
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body><div class="main-content">
     {{>header}}
    <img class="portrait" src="./images/edo.jpg" alt="EUI-logo">
</div>
   
    <footer>{{>footer}}</footer>
</body>
</html>